body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  /* font-family: "Roboto", Courier, monospace; */
}

.header {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
}

.menu-bar {
  display: flex;
  flex: 0 1 1;
  justify-content: space-evenly;
}
.menu-bar p {
  font-size: 24px;
  color: #f9faf8;
}

.list-items {
  list-style-type: none;
  display: flex;
  gap: 15px;
  align-items: center;
  flex: 0 1 1;
  flex-wrap: wrap;
}
a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

a:hover {
  color: #386aaf;
}

.content {
  display: flex;
  justify-content: center;
  margin: 40px 0px 80px 0px;
  flex: 0 1 1;
}

/* I have no idea why this works but it works so yh... */
.left-side {
  flex-wrap: wrap;
  width: 31%;
  flex: 0 1 1;
  text-wrap: wrap;
}
.right-side {
  width: auto;
  flex-wrap: wrap;
  flex: 0 1 1;
}

.hero {
  font-size: 48px;
  color: #f9faf8;
  font-weight: bolder;
}

.left-side p {
  color: #e5e7eb;
  font-size: 18px;
}

.land-image {
  width: 400px;
  height: 200px;
}

.sign-up {
  color: #e5e7eb;
  background-color: #3882f6;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
  border: solid #3882f6;
  font-weight: 900;
}

.sign-up:hover {
  background-color: #1f2937;
}

/* do not touch all of the code above because for some reason it works so leave it as is. */

/* second part -- God have mercy. */
.information-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  font-size: 32px;
  color: #1f2937;
  font-weight: bold;
}

/* this exists to help with visualization. */
/* .holder {
  background-color: #3882f6;
} */

.box img {
  width: 100px;
  height: 100px;
  border: solid #3882f6;
  border-radius: 15px;
}

.image-container {
  padding: 12px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.box {
  /* background-color: #f9faf8; */
  padding: 8px;
  width: 150px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  gap: 10px;
}

/* 3rd Layout  */
.qcontainer {
  background-color: #e5e7eb;
  padding: 50px;
  display: flex;
  justify-content: center;
  flex: 0 1 1;
}

.quote-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 55%;
  flex: 0 1 1;
}
.quote {
  text-align: right;
  margin: 0px 0px 20px 0px;
  font-size: 36px;
  color: #1f2937;
  text-transform: capitalize;
}
.cite {
  text-align: right;
  color: black;
  font-weight: bolder;
  font-size: 18px;
}
/* The Code Above Works so Please Leave it as such :(( */

/* Code For 4th Layout. */
.ctaction-container {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.ctaction {
  background-color: #3882f6;
  padding: 12px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  width: 60%;
  align-items: center;
  color: white;
}

.right button {
  align-self: center;
  background-color: #3d79ce;
  color: white;
  padding: 5px 12px 5px 12px;
  border-radius: 5px;
  border: 2px solid white;
}

.right button:hover {
  background-color: #1f2937;
}
.cta {
  font-weight: bolder;
  font-size: 25px;
  margin-bottom: 0px;
}
.cta + p {
  margin-top: 5px;
  margin-bottom: 25px;
}

/* Code For The Footer */
.footer {
  background-color: #1f2937;
  padding: 5px;
  margin-top: auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
